<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolzapp</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">

        <div class="bg-green">
        </div>

        <!-- App -->
        <div class="appCont" id="root">

            <div class="firstCont">

                <!-- Profile and Functions -->
                <header>
                    <div class="left-cont">
                        <div class="user-pic small">
                            <img :src="'img/' + activeProfile.image" :alt="activeProfile.nome">
                        </div>
                        <span class="profile-title">{{ activeProfile.nome }}</span>
                    </div>

                    <div class="right-cont">
                        <i class="icon grey fa-solid fa-circle-notch"></i>
                        <i class="icon grey fa-solid fa-message"></i>
                        <i class="icon grey fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </header>

                <!-- Notification -->
                <div class="notification">
                    <div class="warning-notification user-pic small">
                        <i class="icon blue fa-solid fa-bell-slash"></i>
                    </div>

                    <div class="user-text">
                        <span class="profile-title link-notification">Ricevi Notifiche di Nuovi Messaggi</span>
                        <a href="#!" class="desktop-notification">Attiva le notifiche desktop</a>
                    </div>
                </div>

                <!-- Input Search -->
                <div class="search-Container">
                    <label for="search-bar" name="search-emoji"><i
                            class="search-icon fa-solid fa-magnifying-glass"></i></label>
                    <input type="text" name="search-bar" v-model="searchingProfile" value="" class="search-input"
                        placeholder="Cerca o inizia una nuova chat">
                </div>

                <!-- Chats -->
                <nav class="chat-container">
                    <div v-for="(chat, index) in chats" @click="changeCurrentChat(index)" class="chat">
                        <div class="left-cont">
                            <div class="user-pic">
                                <img :src="'img/' + chat.image" :alt="chat.nome">
                            </div>

                            <div class="user-text">
                                <span class="profile-title big">{{ chat.nome }}</span>
                                <span class="user access last-message">{{ chat.lastMessage }}</span>
                            </div>
                        </div>

                        <div class="last-message date">{{ chat.lastMessage }}</div>
                    </div>
                </nav>

            </div>

            <div class="secondCont">

                <!-- Current User Chatting -->
                <header>
                    <div class="left-cont">
                        <div class="user-pic small">
                            <img :src="'img/' + chats[activeChat].image" alt="chats[activeChat].nome">
                        </div>
                        <div class="user-text">
                            <span class="profile-title">{{ chats[activeChat].nome }}</span>
                            <span class="user-access">{{ chats[activeChat].lastAccess }}</span>
                        </div>
                    </div>

                    <div class="right-cont">
                        <i class="fa-solid icon grey fa-magnifying-glass"></i>
                        <i class="fa-solid icon grey fa-paperclip"></i>
                        <i class="fa-solid icon grey fa-ellipsis-vertical"></i>
                    </div>
                </header>

                <!-- Current Chat -->
                <div class="current-chat">
                    <div class="container-message">
                        <div v-for="message in chats[activeChat].messages"
                            :class="message.received == true ? 'other-message' : 'your-message'">
                            <div class="message-text"> {{ message.text }}</div>
                            <div class="timestamp">{{ message.time }}</div>
                        </div>

                    </div>
                </div>

                <!-- Input for Message -->
                <footer>
                    <i class="fa-regular fa-face-smile icon dark-grey"></i>
                    <input type="text" v-model="activeProfile.textMessage" @keydown.enter="sendMessage(activeChat)"
                        class="search-input write-message" name="text-for-message" placeholder="Scrivi un messaggio">
                    <i class="fa-solid fa-microphone icon dark-grey"></i>
                </footer>
            </div>

        </div>
    </div>


    <!-- Script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>